body {
  background-image: url("provaIntermedia/background.jpg");
  background-position: center;
  background-size: cover;
  width: 1000px;
  height: 1000px;
  margin: 0px 200px;
}

.container {
  display: block;
  padding: 50px 50px;
  margin-top: 60px;
}
.sfondo{
  background-color: black;
  opacity: 0.5;
  border-radius: 15px;
}

.logo {
  display: block;
  margin: auto;
  width: 20%;
}

header > h2{
  text-align: center;
  color: lime;
}



.navigazione{
  display: block;
  height: 40px;
  background-color: lime;
}
.navigazione > div{
  display: inline-flex;
  justify-content: center;
  margin: 10px 300px;
}


.monopattino{
  color: white;
}
.monopattino > h3{
  display: inline-block;
}
#carica1 {
  width: 350px;
  height: 15px;
  background-color: orange;
  border-radius: 4px;
}
#carica2 {
  width: 500px;
  height: 15px;
  background-color: green;
  border-radius: 4px;
}
#carica3 {
  width: 100px;
  height: 15px;
  background-color: red;
  border-radius: 4px;
}
